@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="left" class="lead">Turing University</h1>
    <p class="lead" align="right" style="opacity:0.9;">Faculty Web Portal</p>
    <p align="right">
        <a href="~/Views/Students/Index.cshtml" class="btn
btn-primary btn-lg">Enter site &Rarr;</a>
    </p>
</div>


<!--This > the home page content-->

<div class="row">
    <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6">
        <h4>First time here?  Welcome!</h4>
        <p>
            If you are a first-time user, please create an account first.
        </p><p>
            <a class="btn btn-default"
               href="/Account/Register">Create account &Rarr;</a>
        </p>
        </div>
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6">
            <p>
                <h3>Already have an account?</h3>

            </p>
            <p>
                <a class="btn btn-default" href="/Account/Login">
                    Log In
                    &Rarr;
                </a>
            </p>
            </div>

        </div>
    
    <div class="row">
    <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6">
        <h3>8 Things You Didn't Know About Alan Turing</h3>
        <p>
            If you saw the movie <i>The Imitation Game</i>, you only
            heard part of his story.  Read the PBS article and find out how Alan
            Turing's work and life still impacts us today.
        </p>
        <p>
            <a class="btn btn-default"
               href="http://www.pbs.org/newshour/updates/8-things-didnt-know-alan-turing/">
                Learn
                more &Rarr;
            </a>
        </p>
    </div>
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0XyV91VYrDs" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
    <div class="row">
    <div class="col-xs-12, col-sm-12, col-md-12, col-lg-12">
        <h3>
            Alan Turing Institute- Dedicated to data science at the
            British Library
        </h3>
        <p>
            Career opportunities, publications, and research projects
            at the Turing Institute in the UK.
        </p>
        <p>
            <a class="btn btn-default"
               href="https://www.turing.ac.uk/">The Turing Institute &Rarr;</a>
        </p>
    </div>
</div>
